*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
header{
    min-height: 15vh;
}
.navbar-brand>img{
    height: 3vh;
}
.nav-item{
    background-color: coral;
    border-radius: 12px;
}
.nav-link{
    color: white !important;
}
.pageSection{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 10vh;
    align-items: center;
    background-color: coral;
    color: white;
}
.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
main{
    min-height: 74vh;
}
.searchFilter{
    display: flex;
    justify-content: space-between;
    font-size: large;
    padding: 15px;
}
.searchFilter>fieldset{
    border: none;
    display: flex;
    gap: 1em;
}
.searchFilter>fieldset>label>input{
    margin-left: 0.3em;
}
.cardContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}
.price{
    display: flex;
    justify-content: space-between;
    
}
.card{
    width: 20%;
}
.card-img-top{
    height: 60%;
}
.btn{
    background-color: coral !important;
    border-color: coral !important;
}
.contactForm{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding-top: 10px;
}
.contactForm>fieldset>*{
    display: block;
    width: 20em;
}
textarea{
    resize: none;
}
.submitContact{
    background-color: coral;
    border-color: coral;
    width: 80px;
    border-radius: 20%;
}
.statsTable{
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10px;
}
.headTitle{
    font-size: 24px;
    font-weight: normal;
    background-color: coral;
}
.statsTable thead{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px 5px;
}
.statsTable td{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px 5px;
}
.detailContainer{
    display: flex;
    height: 50vh;
    width: 50vw;
    margin: 5vh 40vh;
    padding: 20px;
    border: 2px solid black;
}
.imgContainer{
    border: 2px solid black;
    padding:10px;
}
.descriptionContainer{
    text-align: center;
    border: 2px solid black;
    margin-left: 10px;
}
.descriptionContainer p{
    padding:10px;
}
footer{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: coral;
    color: white;
}